
.mainContainer {
  transition-duration: 500ms;
  background: #fff;
  min-height: 200vh;
  overflow: hidden;
  margin-left: 0px;
  &.smallScreen {
    margin-left: 0px;
  }
  &.active {
    margin-left: 240px;
  }
}
